MYSQL_ROOT_PASSWORD=example_root_password
MYSQL_DATABASE=haarlem_festival_db
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password
APP_URL=http://localhost
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
